<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">
        @await Html.PartialAsync("TopbarPartial")

        <!-- Start Content-->
        <div class="container-fluid">
            @RenderBody()
        </div>
        <!-- container -->

    </div>
    <!-- content -->

    @await Html.PartialAsync("FooterPartial")

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
