        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu">

            <!-- LOGO -->
            <a href="/" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="/images/logo.png" alt="" height="70">
                </span>
                <span class="logo-sm">
                    <img src="/images/logo.png" alt="" height="70">
                </span>
            </a>

            <!-- LOGO -->
            <a href="/" class="logo text-center logo-dark">
                <span class="logo-lg">
                    <img src="/images/logo.png" alt="" height="70">
                </span>
                <span class="logo-sm">
                    <img src="/images/logo.png" alt="" height="70">
                </span>
            </a>

            <div class="h-100" id="leftside-menu-container" data-simplebar>

                <!--- Sidemenu -->
                <ul class="side-nav">
                    
                    <li class="side-nav-title side-nav-item">Navigation</li>

                    <!--News-->
                    <li class="side-nav-item">
                        <a asp-controller="Home" asp-action="News" class="side-nav-link">
                            <i class="uil-rss"></i>
                            <span> News </span>
                        </a>
                    </li>
                </ul>


                <!-- End Sidebar -->

                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->